<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/layouts/estilo.css">
		<title>planos</title>
	</head>
	<body>
		<div id="mouse-light"></div>
		<header class="header"> <!--O cabeçalho, com  -->
			<div id="logo"> <!-- Titulo com logo  -->
				<img src="#" alt="">
				<h1><span style="color: #1bb5d7;">Jessica</span></h1>
			</div>
			<nav> <!-- Links de navegação -->
				<a href="/sobremim">Sobre mim</a>
				<a href="/Planos" target="blank">Planos</a>
				<a href="/">Home</a>
			</nav>
		</header>
		<!-- Proposta -->
		<main class="proposta1">
			<div class="descricao">
				<h1> Site Institucional Básico </h1>
				<p id="copi">Ideal para pequenas empresas que desejam uma presença online simples e eficaz.</p>
				<p>

					- Página única (Landing Page)
					<br>
- Layout responsivo (mobile/PC)
<br>
- Design pronto (template adaptado)
<br>
- SEO otimizado (Google encontra o site)
<br>
- Formulário de contato simples (via Formspree)
				</p>
				<p class="preço">de 500 por 400</p>
				<div class="tag-container"> 
					<div class="tag1">Astro</div>
					<div class="tag1">Tailwind</div>
					<div class="tag1">CMS</div>
				</div>
			</div>
			<img src="/public/image/bolotemporario.png" alt="Site Institucional Básico">

			
	
		</main>
	</body>
</html>