<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/layouts/estilo.css">
		<title>sobre mim</title>
	</head>
	<body>
		<div id="mouse-light"></div>
		<header class="header"> <!--O cabeçalho, com  -->
			<div id="logo"> <!-- Titulo com logo  -->
				<img src="image/Logo1.png" alt="">
				<img src="image/ozen.png" alt="Logo Ozen" id="logo-ozen">
			</div>
			<nav> <!-- Links de navegação -->
				<a href="#">Sobre mim</a>
				<a href="#">Planos</a>
				<a href="#">Home</a>
			</nav>
		</header>

        <main class="sobre-mim2"> <!-- Primeira parte da apresentação, inicio da minha historia -->
            <div>
				<h1>Óla, sou <span style="color: #c72523;">Jessica</span></h1>
				<h2>Developer <span style="color: #c72523;">JAMstack</span></h2>
				<p>Sou uma desenvolvedora web apaixonada por criar experiências digitais incríveis. Com habilidades em HTML, CSS, JavaScript e frameworks modernos como React e Vue.js, transformo ideias em realidade na web. Adoro desafios e estou sempre em busca de aprender novas tecnologias para aprimorar minhas habilidades. Vamos construir algo incrível juntos!
					<br>
					Sou uma desenvolvedora web apaixonada por criar experiências digitais incríveis. Com habilidades em HTML, CSS, JavaScript e frameworks modernos como React e Vue.js, transformo ideias em realidade na web. Adoro desafios e estou sempre em busca de aprender novas tecnologias para aprimorar minhas habilidades. Vamos construir algo incrível juntos!
					<br>
					Sou uma desenvolvedora web apaixonada por criar experiências digitais incríveis. Com habilidades em HTML, CSS, JavaScript e frameworks modernos como React e Vue.js, transformo ideias em realidade na web. Adoro desafios e estou sempre em busca de aprender novas tecnologias para aprimorar minhas habilidades. Vamos construir algo incrível juntos!
				</p>
            </div>
            <img src="/image/eu2.jpeg" alt="Avatar" id="eu">

        </main>
		<!-- Minha Historia -->
		<section>
			<h2>Desenvolvimento <span style="color: #c72523;">Profissional</span></h2>
			<div class="container-pai"> <!-- Experiencia profissional -->
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>JAMstack</h3>
						<p>iniciei meu estudo pela programação, em muito tempo de pesquisa alcancei o melhor modelo atual</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>Design UX/UI</h3>
						<p>Desenvolvedora Front-end apaixonada por criar experiências digitais incríveis.</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>Marketing digital</h3>
						<p>Desenvolvedora Front-end apaixonada por criar experiências digitais incríveis.</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>Copy persuasivo</h3>
						<p>Desenvolvedora Front-end apaixonada por criar experiências digitais incríveis.</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>IA + Automação</h3>
						<p>Desenvolvedora Front-end apaixonada por criar experiências digitais incríveis.</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
				<div class="experiencia-container">
					<img src="/image/facebook.png" alt="">
					<div class="texto-experiencia">
						<h3>Social media</h3>
						<p>Desenvolvedora Front-end apaixonada por criar experiências digitais incríveis.</p>
						<p>Janeiro 2020 - Presente</p>
					</div>
				</div>
			</div>
			<!-- Habilidades -->
			<h2>Habilidades</h2>
			<div class="habilidades-container">
				<img src="/image/youtube.png" alt="HTML">
				<img src="/image/youtube.png" alt="CSS">
				<img src="/image/youtube.png" alt="JavaScript">
				<img src="/image/youtube.png" alt="React">
				<img src="/image/youtube.png" alt="Vue.js">
			</div>
		</section>


		<footer class="rodape"> <!-- Rodapé -->
			<div class="sobre-rodape">
				<h1>Gostou? vamos <span style="color: #c72523;">Trabalhar</span></h1>
				<p>Entre em contato comigo e vamos criar algo incrível juntos!, assim levando ao um outro nivel seu negocio, com um site profissional em conta</p>
				<a href="#" id="criar-projeto">Criar projeto🤞</a>
			</div>
			<div>
				<div class="contato">
					<p>Email:</p>
					<a href="mailto:seuemail@example.com"><span style="color: #c72523;">corayalina@gmail.com</span></a>
				</div>
				<div class="contato">
					<p>Contato:</p>
					<a href="https://wa.me/5589891401185" target="blank"><span style="color: #c72523;">(89) 981401185</span></a>
				</div>
				<div class="contato">
					<p>GetNinja:</p>
					<a href="mailto:seuemail@example.com"><span style="color: #c72523;">Jessica</span></a>
				</div>
				<p>© 2023 Jessica. Todos os direitos reservados.</p>
			</div>

		</footer>

	</body>
</html>